@{
    ViewData["Title"] = "Home Page";
    Layout = "_layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">To</h2>
    <h1 class="display-4">The Daily Blogger</h1>
    <p>Here to fullfill all your blogging needs.</p>
</div>
